<!DOCTYPE html>
<html>
    <head>
        <titl>Angular Controllers</titl>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <!--<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>-->
        <!--https://www.tutorialspoint.com/angularjs/angularjs_environment.htm-->
        <!--https://www.tutorialspoint.com/angularjs/angularjs_controllers.htm-->
   </head>
    </head>
    <body >
        <h1>Test Controllers</h1>
        <div ng-app="myApp" ng-controller = "studentController">
            <table border = "0">
                <tr>
                    <td>Enter first name : </td>
                    <td><input type ="text" ng-model="student.firstName">
                    </td>
                </tr>
                <tr>
                    <td>Enter lastName: </td>
                    <td><input type="text" ng-model="student.lastName"></td>
                </tr>
                <tr>
                    <td>Enter fees:</td>
                    <td><input type ="text" ng-model="student.fees"></td>
                </tr>
                <tr>
                    <td>Enter subject: </td>
                    <td><input type ="text" ng-model = "subjectName"></td>
                </tr>
            </table>
            <br/>
            <table>
                <tr>
                    <td>Name in Upper Case:</td><td>{{student.fullName() | uppercase}}</td>
                </tr>
                <tr>
                    <td>Name in Lower Case:</td><td>{{student.fullName() | lowercase}}</td>
                </tr>
                <tr>
                    <td>fees:
                    </td>
                    <td>
                        {{student.fees | currency}}
                    </td>
                </tr>
                <tr>
                    <td>Subject:</td>
                    <td>
                        <ul>
                            <li ng-repeat ="subject in student.subjects | filter: subjectName | orderBy:'marks'">
                                {{subject.name + ' , marks :' + subject.marks}}
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>

        <script type="text/javascript" src="libs/angular/angular.min.js"></script>
        <script>
           var myApp = angular.module('myApp', []);
           myApp.controller('studentController', function($scope){
                            $scope.student = {
                              firstName: "Mahesh",
                              lastName: "Parashar",
                              fees:500,
                              subjects:[
                                  {name:'Physics',marks:70},
                                  {name:'Chemistry',marks:80},
                                  {name:'Math',marks:65}
                              ],
                              fullName: function(){
                                var studentObject;
                                studentObject = $scope.student;
                                return studentObject.firstName + " " + studentObject.lastName;
                              }
                            
                            }
                            });
        </script>
    </body>
</html>